<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0" />
    <title><%= title %></title>

    <!-- CSS  -->
    <link href="https://fonts.loli.net/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://cdn.bootcss.com/materialize/1.0.0/css/materialize.min.css" type="text/css" rel="stylesheet" media="screen,projection" />
    <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection" />
</head>

<body>
    <nav class="light-blue lighten-1" role="navigation">
        <div class="nav-wrapper container"><a id="logo-container" href="#" class="brand-logo"><%= title %></a>
            <ul class="right hide-on-med-and-down">
                <li><a href="#">测试</a></li>
            </ul>

            <ul id="nav-mobile" class="sidenav">
                <li><a href="#">测试</a></li>
            </ul>
            <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        </div>
    </nav>
    <div class="section no-pad-bot" id="index-banner">
        <div class="container">
            <br><br>
            <h2 class="header center orange-text">图书馆座位预约系统</h2>
            <div class="row center">
                <h5 class="header col s12 light">点击可以预约座位</h5>
            </div>

            <br><br>

        </div>
    </div>


    <div class="container">
        <div class="section">


            <div id="update_section" class="row">

                <div class="main-loader">
                    <div class="preloader-wrapper big active">
                        <div class="spinner-layer spinner-blue-only">
                            <div class="circle-clipper left">
                                <div class="circle"></div>
                            </div>
                            <div class="gap-patch">
                                <div class="circle"></div>
                            </div>
                            <div class="circle-clipper right">
                                <div class="circle"></div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
        <br><br>
    </div>

    <footer class="page-footer orange">
        <div class="footer-copyright">
            <div class="container" style="word-break:break-all">
                <a class="orange-text text-lighten-3" href="https://github.com/simonsmh">
                    Made by simonsmh.
                </a>
                <a class="orange-text text-lighten-3" href="http://materializecss.com">
                    CSS from Materialize.
                </a>
                <a class="orange-text text-lighten-3" href="https://www.google.com/design/icons/">
                    Icons from Google.
                </a>
            </div>
        </div>
    </footer>


    <!--  Scripts-->
    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="https://cdn.bootcss.com/socket.io/2.2.0/socket.io.js"></script>
    <script src="js/init.js"></script>

</body>

</html>
